* {
	-webkit-user-select: none; /* Safari 3.1+ */
	-moz-user-select: none; /* Firefox 2+ */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Standard syntax */
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Nunito", sans-serif;
	background: url("../images/background-image.jpg") #fff5e4 no-repeat center
		center fixed;
}

#container {
	width: 768px;
	margin: 10px auto;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 10px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
	padding-bottom: 20px;
}

#game-title {
	font-family: "Bungee Inline";
	font-size: 3em;
	/* text-shadow: 2px 2px 5px rgba(216, 208, 137, 0.322); */
	padding: 20px 0;
}

#characters,
#my-character,
#enemies,
#defender {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 20px;
}

.card-character {
	width: 120px;
	border-radius: 5px;
	border: solid 3px #41403e;
	box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
	background-color: white;
	cursor: pointer;
}

.card-character-name_hp {
	color: #06455d;
	font-weight: 800;
	font-size: 0.65em;
	line-height: 1.7;
	text-transform: uppercase;
}

.card-character-name_hp h6:nth-child(2) {
	font-weight: bold;
	background-color: #e0d4d4c2;
	border-top: 1px solid #41403e;
}

h3 {
	width: 200px;
	padding: 5px;
	background: rgba(245, 241, 241, 0.863);
	margin: 0 auto;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
	margin-bottom: 5px;
}

img {
	width: 100%;
}

section {
	min-height: 50px;
}

.greenBorder {
	border: 4px solid rgb(40, 170, 40);
}

.redBorder {
	border: 4px solid rgb(170, 52, 52);
}

button {
	padding: 0.3em 1.2em;
	border: 0.16em solid rgba(255, 255, 255, 0);
	border-radius: 2em;
	font-weight: 300;
	color: #ffffff;
	text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
	background-color:#106bd3;
	outline: none;
	margin-bottom: 5px;
	box-shadow: 0px 0px 3px #183c64;
}

button:active {
	background-color:#124886;
}

#attack-message {
	background-color: #fff5e498;
	margin: 0 auto;
	width: 320px;
	border: 2px dotted rgb(39, 82, 146);
	font-size: 0.85em;
	font-weight: bold;
	line-height: 1.5;
	margin-bottom: 10px;
	padding: 5px;
}

